@import "../../global-styles/global-params";
$mobile-width: 813px;
.policy {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
}

.policy__close {
  display: none;
}

.policy__text_wrap {
  z-index: 1000;
  background-color: #ffffff;
  padding: 30px;
  @media screen and (max-width: $mobile-width) {
    padding: 10px;
    left: 0;
    right: 0;
    width: auto;
    max-width: unset;
    top: 0;
    bottom: 0;
    height: auto;
    margin: 0;
  }
  width: 90%;
  max-width: 800px;
  height: 70vh;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -35vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 10px #000;
}

.policy__title {
  padding-left: 20px;
  padding-right: 20px;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  font-size: 25px;
  @media screen and (max-width: $mobile-width) {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1;
  }
  text-align: center;
}

.policy__paragraph_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Calibri, sans-serif;
  color: $corporate-color;
  font-weight: bold;
  font-size: 20px;
  @media screen and (max-width: $mobile-width) {
    font-size: 14px;
  }
  text-align: center;
}

.policy__paragraph_text {
  text-align: justify;
  font-family: Calibri, sans-serif;
  text-indent: 1.5em;
  font-size: 15px;
  @media screen and (max-width: $mobile-width) {
    font-size: 13px;
  }
}

.policy__paragraph_note {
  font-style: italic;
}

.policy__paragraph_link {
  color: $corporate-color;
  border-bottom: 1px solid $corporate-color;
}

.policy__paragraph_link:hover {
  text-decoration: none;
}

.policy__button, .policy__icon {
  opacity: 0.5;
  font-size: 25px;
}

.policy__icon {
  position: fixed;
  top: 1%;
  right: 1%;
  color: white;
  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}
.policy:hover .policy__icon {
  opacity: 1;
}

.policy__button {
  position: absolute;
  top:0;
  right: 0;
  color: black;
  opacity: 0.5;
  @media screen and (min-width: $mobile-width) {
    display: none;
  }
}
.policy__button:focus {
  outline: none;
}
.policy__button:hover {
  opacity: 1;
}