@import '../../global-styles/global-params';

.cookie-banner {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 99999;
}

.cookie-banner__text {
  color: black;
  font-family: $font-family_common;
  font-size: 15px;
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
  @media screen and (max-width: 400px) {
    font-size: 10px;
  }
}

.cookie-banner__agree_text {
  font-size: 15px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (max-width: 320px) {
    font-size: 10px;
  }
}

.cookie-banner__link {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.cookie-banner__link:hover {
  text-decoration: none;
  color: $corporate-color;
  border-bottom: 1px solid $corporate-color;
}

.cookie-banner.open {
  -webkit-animation: cookie_banner_open 1s normal forwards ease-out;
  -moz-animation: cookie_banner_open 1s normal forwards ease-out;
  animation: cookie_banner_open 1s normal forwards ease-out;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cookie-banner.close {
  -webkit-animation: cookie_banner_close 1s normal forwards ease-out;
  -moz-animation: cookie_banner_close 1s normal forwards ease-out;
  animation: cookie_banner_close 1s normal forwards ease-out;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cookie-banner .notification {
  margin: 15px 10px;
  width: 100%;
  text-align: center;
}

.cookie-banner .agree {
  margin: auto 30px auto auto;
  @media screen and (max-width: 600px) {
    margin-right: 10px;
  }
}

.cookie-banner .agree button {
  padding: 5px 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  background-color: $corporate-color;
  border-radius: 5px;
  color: white;
}

.cookie-banner button h3 {
  margin: 0;
}

.cookie-banner__button:hover {
  background-color: #2B84AF;
}

@-webkit-keyframes cookie_banner_open {
  from { bottom: -200px }
  to { bottom: 0 }
}

@-moz-keyframes cookie_banner_open {
  from { bottom: -200px }
  to { bottom: 0 }
}

@keyframes cookie_banner_open {
  from { bottom: -200px }
  to { bottom: 0 }
}

@-webkit-keyframes cookie_banner_close {
  from { bottom: 0 }
  to { bottom: -200px }
}

@-moz-keyframes cookie_banner_close {
  from { bottom: 0 }
  to { bottom: -200px }
}

@keyframes cookie_banner_close {
  from { bottom: 0 }
  to { bottom: -200px }
}
