.not-found {
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
}

.not-found__link {
  color: #2a729c;
}

.not-found__link:hover {
  text-decoration: none;
}
