.item-list__title {
  font-weight: 300;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 50px;
}
@media screen and (max-width: 1000px) {
  .item-list__title {
    font-size: 30px;
  }
}

.item-list__modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
}

.item-list__modal_wrap {
  z-index: 1000;
  background-color: #ffffff;
  padding: 30px;
  width: 90%;
  border-radius: 30px;
  max-width: 800px;
  height: 70vh;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -35vh;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 10px #000;
}
@media screen and (max-width: 813px) {
  .item-list__modal_wrap {
    padding: 10px;
    left: 0;
    right: 0;
    width: auto;
    max-width: unset;
    top: 0;
    bottom: 0;
    height: auto;
    margin: 0;
  }
}

.item-list__icon {
  position: fixed;
  top: 1%;
  right: 1%;
  color: white;
}
@media screen and (max-width: 813px) {
  .item-list__icon {
    display: none;
  }
}

.item-list:hover .item-list__icon {
  opacity: 1;
}
