$font-family_common: 'Montserrat', Arial, sans-serif;
$font-family_title: 'Montserrat', Proxima Nova, sans-serif;
$corporate-color: #2a729c;
$backgroundColor:  #ffffff;
$textColor: #3f3f3f;
$blockColor: #ffffff;
$additionalColor: #f4f4f4;


$transition: 0.5s ease;

@mixin font-size__title {
  font-family: $font-family_title;
  font-size: 35px;
  font-weight: 900;
  transition: $transition;
  @media screen and (max-width: 768px) {
    font-size: 27px;
    transition: $transition;
  }
  @media screen and (max-width: 320px) {
    font-size: 24px;
    transition: $transition;
  }
}

@mixin font-size__text {
  font-family: $font-family_common;
  font-size: 18px;
  transition: $transition;
  @media screen and (max-width: 1000px) {
    font-size: 17px;
    transition: $transition;
  }
  @media screen and (max-width: 767px) {
    font-size: 15px;
    transition: $transition;
  }
}